<% layout('/layouts/boilerplate') %> 
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>

   
        <% for (let campground of campgrounds){%>

            
                <div class="card mb-4" >
                    <div class="row bg-light">
                      <div class="col-md-4">
                        <a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %> " class="img-fluid rounded-start" alt="..."></a>
                        
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                          <h5 class="card-title"><%= campground.title %></h5>
                          <p class="card-text"><%=campground.description%></p>
                          <p class="card-text">
                            <small class="text-muted">
                                <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">view <%= campground.title %></a>
                            </small>
        
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
            

        
        <% }%>
    </ul>

